* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02rem;
}

body {
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50vw;
  height: auto;
  margin: 5rem auto;
  background-color: #fff;
  box-shadow: #c0bdbd 0 5px 10px;
}

.b-bottom {
  border-bottom: 2px solid #c0bdbd;
}

li {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

button,
h1 {
  all: unset;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

.clr-all {
  color: #c0bdbd;
  background-color: #f4f4f4;
  justify-content: center;
}

.checkbox {
  height: 1rem;
  width: 1rem;
  border: 3px solid #c0bdbd;
}

input::placeholder {
  font-style: italic;
}

.text-field {
  width: 90%;
}
